@charset "utf-8";
/* CSS Document */

header{
	background-image: url(_images/top_back10.jpg);
	height: 340px;
	margin-left:200px;
	margin-right:200px;
	
}
body{
	width: 1340px;
	background-color: #BEBBBB;
}
ul li{
	display: inline;
	color: #F0EAEA;
	text-decoration: none;
	margin:45px;

	 
}
nav{
	height: 50px;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: -17px;
	padding-top: 10px;
	padding-bottom: 5px;
	background: rgba(35, 31, 32, .8);
	}
	
	a{color:#F89D9F;
	text-decoration:none;
	font-size:20px;}
	
	a:hover{color:#FBF5F6;}

.sec2{
	border-top: solid;
	border-bottom: solid #F4EC18 20px;
	float: right;
	width: 285px;
	margin-right: 200px;
	border-left: 14.5px solid #F4EC18;
	border-right: 15px solid #F4EC18;
	text-align: justify;
	text-align: center;
	background-color: #F4EC18;
	background-repeat: no-repeat;
	}

.sec1{
	border-top: solid;
	border-bottom: solid #1605AB 20px;
	float: left;
	width: 285px;
	margin-left: 200px;
	border-left: 14px solid #1605AB;
	border-right: 14.5px solid #1605AB;
	text-align: justify;
	text-align: center;
	background-color: #1605AB;
background-repeat: no-repeat
}

.sec3{
	border-top: solid;
	border-bottom: solid  #E312AD 20px;
	float: left;
	width: 285px;
	border-left: 14.5px solid #E312AD;
	border-right: 14.5px solid #E312AD;
	background-color: #E312AD;
	background-repeat: no-repeat;
	font-style: normal;
	font-weight: 400;
}

h2{text-shadow:1px 2px 3px white;
font-family: "Georgia"}

section p:first-letter {
			font-size: 5em;
			font-weight: bold;
			float: left;
			padding-right: 8px;}
section{
	max-height: 348px;
	overflow: hidden;
	position: relative;
	-webkit-transition: max-height 0.75s ease 0s;
	-moz-transition: max-height 0.75s ease 0s;
	-ms-transition: max-height 0.75s ease 0s;
	-o-transition: max-height 0.75s ease 0s;
	transition: max-height 0.75s ease 0s;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}		

section:hover {
	max-height: 990px;
}

.sec3 li {
	margin-bottom: .8em;
	font-size: .9em;
}


.sec3 .date {
	font-weight: bold;
	color: white;
	display: block;
}

.sec3 ul {
	margin-top: 16px;
}

article{margin-left:200px;
float:left;
width:625px;
text-align:justify;
background-color:#FCF8F8;
}

article p{margin-left:15px;
margin-right:15px; font-size:20px;}

h1{text-align:justify;
margin-left:15px;
font-size:28px;
}

.mg{
float:right;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	margin-right:200px;
	margin-left:810px;
border-left: 14.5px solid #F4EC18;
	border-right: 23px solid #F4EC18;
	text-align: justify;
	text-align: center;
	background-color: #F4EC18;
	background-repeat: no-repeat;
	border-bottom: solid #F4EC18 40px;
}


	
.mg:hover {
	max-height: 990px;
}	


 
.mg p{text-align:justify;
font-size:20px	}

.mg p a{color:#F80E12;}

.mg p a:hover{color:#F8EFEF;}


article p a{color:#F80E12;}

article p a:hover{ color:#F89F0D;}